* {
  background-color: #FFA900;
  font-family: 'Lexend', sans-serif;
}

.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 30px;
  font-size: 25px;
  font-weight:bolder;
  color: #300D38;
}

header {
display: inline-block;
width: 100%;
padding-bottom: 20px;
}

header, h1, img {
  background-color: #fff;
  font-size: 30px;
}

header img {
  margin-top: 30px;
  float: left;
  margin-left: 15px;
}

header h1 {
  margin: 0 auto;
  width: 500px;
  margin-top: 30px;
}

input {
  border-radius: 25px;
  padding: 10px;
  background-color: #FFB926;
  margin-left: 10px;
  color: rgb(102, 99, 99);
  border-style: solid;
  border-color: #300D38;
  border-width: 3px;
  margin-top: 10px;
  font-size: 15px;
  font-style: oblique;
}

.select {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  width: 20%;
}

select {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-color: #300D38;
  border-width: 3px;
  margin-top: 10px;
}

.submit input {
  margin-top: 20px;
  padding: 30px;
  font-size: 25px;
  background-color: #300D38;
  color: white;
  margin-bottom: 10px;
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}

.submit input:hover {
  cursor: pointer;
  transition-property: background;
  background: black;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  border-color: black;
}

option {
  background: #300D38;
  color: #fff;
}

.success h1{
  margin-top: 200px;
  text-align: center;
  background-color: #FFA900;
}

.success h1:hover {
  transform: skewY(-15deg);
}

.success img {
  background-color: #FFA900;
  margin-top: 20px;
  margin-left: 40px;
}

h2 {
  color: red;
  font-size: 30px;
}
